.main{
    height:645px;
    background-color: #fff;
}
.main .main-left{
    width:192px;
    height:645px;
    background-color: #293034;
}
.main .main-left .title{
    width:162px;
    height:46px;
    background-color: #13A7A9;
    line-height: 46px;
    color: #EEEEEE;
    font-size: 16px;
    padding-left: 30px;
}
.main .main-left ul li .ardown{
    border-bottom: 1px solid #3A4044;
    line-height: 41px;
    padding-left: 32px;
    width:160px;
    height:41px;
    font-size:14px;
    color: #EEEEEE;
    position: relative;
    cursor: pointer;
}
.main .main-left ul li .ardown .arrow{
    width:38px;
    height:30px;
    position: absolute;
    right:0px;
    top:5px;
}
.main .main-left ul li .ardown .arrow s{
    width: 37px;
    height: 30px;
    display: block;
    background: url("../images/down_84.png")no-repeat;
}
/*.main .main-left ul li .ardown .arrow i{*/
    /*width: 38px;*/
    /*height: 30px;*/
    /*display: none;*/
    /*background: url("../images/top_84.png")no-repeat;*/
/*}*/
.main .main-left ul li .hidebox{
    background-color: #000;
    display: none;
}
.main .main-left ul li .hidebox span{
    width:128px;
    height:45px;
    display: block;
    margin-left: 30px;
    line-height: 46px;
}
.main .main-left .hidebox span a{
    color: #EEEEEE;
}
.main .main-left .hidebox span a:hover{
    color:#13A7A9;
}
.main .main-right{
    width:790px;
    height:645px;
}
.main .main-right p{
    width:755px;
    height: 30px;
    color: #F9521E;
    font-size:14px;
    font-weight: 600;
    padding-left: 35px;
    padding-top: 16px;

}
.main .main-right .hot{
    width:716px;
    height:290px;
    border:2px solid #D9DDDF;
    margin-left: 35px;
}
.main .main-right .hot .hot-answer{
    width:541px;
    height:257px;
    margin-top: 16px;
    padding-top: 5px;
}
.main .main-right .hot .hot-answer li{
    width: 516px;
    height: 26px;
    padding-left: 25px;
}
.main .main-right .hot .hot-answer li i{
    width:8px;
    height:8px;
    display: inline-block;
    background:url("../images/arrow_85.jpg") no-repeat;

}
.main .main-right .hot .hot-answer li a{
    margin-left: 14px;
    color: #999999;
}
.main .main-right .hot .hot-answer li a:hover{
    text-decoration: underline;
    color: #999999;
}
.main .main-right .hot .fr{
    margin-top:10px;
}